.scale-up-center {
	-webkit-animation: scale-up-center 0.4s ease-in 0.1s both;
	        animation: scale-up-center 0.4s ease-in 0.1s both;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
/* Transition */

#transition1 {transition-timing-function: ease-in;}
#transition1:hover {
    font-size: $text-medium;
    font-weight: 700;
    color: $base;
  }

.nav-link:hover{
    color: $primary !important;   
}

button:hover{
    background-color: $primary;
} 