    /* colors */
    $primary: #3d3626;
    $secondary: #86785C;
    $base: #ebe6e0;
    
    $colors:(
        primary: #28241c,
        secondary: #86785C,
        base: #ebe6e0
    );
    /* font families */
    $primery-font: 'Rubik', sans-serif;
    
    /* spacing */
    $small-spacing: 2.4rem;
    $xsmal-spacing: 0.625rem;

    /* Font sizes */
    $text-large:2.4em; 
    $text-medium:1.2em;
    $text-base: 1em;
    $text-small:0.65em;

    /* Line */
    $border-line: 2.4rem;